.table {
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #36a2eb;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
  }

  tr:nth-child(even) {
    background-color: #f7f7f7;
  }

  tr:hover {
    background-color: #e3f2fd;
  }
}
