.card {
  width: calc(33.33% - 20px);
  margin: 20px 10px;
  padding: 20px;
  background-color: #f2faff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  h2 {
    font-size: 24px;
    color: #195190;
    margin: 0 0 10px;
  }

  p {
    font-size: 16px;
    color: #4c4c4c;
    margin: 0;
  }

  .population {
    color: #10a54a;
  }

  .gdp {
    color: #0e5b9d;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
}
